<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thalesdasilva.countapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_count_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_count_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ActSplashScreen"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActCadastro"
            android:theme="@style/Login" />
        <activity
            android:name=".ActLogin"
            android:theme="@style/Login" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActEsqueceuSenha"
            android:theme="@style/Login" />
        <activity
            android:name=".ActReceita"
            android:theme="@style/Receitas" />
        <activity
            android:name=".ActDespesa"
            android:theme="@style/Despesas" />
        <activity android:name=".ActAjuda" />
        <activity
            android:name=".ActVisaoGeralReceita"
            android:theme="@style/Receitas" />
        <activity
            android:name=".ActVisaoGeralDespesa"
            android:theme="@style/Despesas" />
    </application>

</manifest>